<h1>Homes#index</h1>
<% flash.each do |key, value|%>
<strong><%= key%> : <%=value%> </strong>
<%end%>
<hr>
<strong>session: </strong><br>
<%=session.inspect%>
<hr>
<strong>user session: </strong>
<%= user_session.inspect%><br/>

<% if signed_in %>
<%= link_to 'Log out', destroy_user_session_path, method: :delete%>
<%else%>
<%= link_to 'Log in', new_user_session_path, method: :get%>

<%end%>
